
.carousel-item {
  ul {
    padding: 0 10px;
  }

  li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    padding: 64px 0 0;

    &.mountain {
      background-image: url(../../static/images/mountain.png);
    }

    &.bar {
      background-image: url(../../static/images/bar.png);
    }

    &.eat {
      background-image: url(../../static/images/eat.png);
    }

    &.eat2 {
      background-image: url(../../static/images/eat2.png);
    }

    &.exercise {
      background-image: url(../../static/images/exercise.png);
    }

    &.hair {
      background-image: url(../../static/images/hair.png);
    }

    &.kid {
      background-image: url(../../static/images/kid.png);
    }

    &.ktv {
      background-image: url(../../static/images/ktv.png);
    }

    &.life {
      background-image: url(../../static/images/life.png);
    }

    &.shop {
      background-image: url(../../static/images/shop.png);
    }
    

  }
}

.index-container {
  margin-top: 10px;

  ul {
    width: 100%;
    height: auto;
    text-align: center;
  }

  li {
    list-style: none;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #ccc;
    margin: 0 3px;
  }

  li.selected {
    background-color: rgb(233, 32, 61);
  }
}